/* HTML tag style overrides */

/* Main containers as high as the browser window */
html, body, .container {
    height: 100%;
}

/* So 100% means 100% */
* {
    box-sizing: border-box;
}

/* Make grid full width */
.container {
    width: 100%;
    max-width: initial;
    padding: 0 2em;
}

/* Style header */
.header {
    text-align: center;
    height: 120px;
    overflow: hidden;
}

/* 1. Graph information */
.header div {
    width: 300px;
    margin: auto;
    text-align: right;
}

.header div h6 {
    font-family: monospace;
}

/* TODO: Drawer handle */

/* 2. Content area */
.content {
    height: calc(100% - 120px);
}

/* 2.1. Search box */
.content .search {
    height: 100%;
}

.content .search fieldset {
    height: 130px;
}

/* 2.1.1. Search Input Container */
.content .search fieldset .search-input-container {
    font-family: 'Cutive Mono', monospace, sans;
}

.content .search fieldset .search-input-container .search-prefix {
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    height: 100%;
    display: inline-block;
    float: left;
    background-color: darkseagreen;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 27px;
}

.content .search fieldset .search-input-container .search-text {
    height: 100%;
    width: calc(100% - 29px);
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    padding-left: 0.2em;
}

/* 2.1.2. Search Button Container */
.content .search fieldset .search-button-container {
    text-align: right;
}

/* 2.2. Search results */
.content .search .search-results {
    height: calc(100% - 145px);
    overflow: auto;
}

/* 2.3. Graph rendering area */
#graph-render {
    height: 100%;
}
