/* Make grid full width */
.container {
    width: 100%;
    max-width: initial;
    padding: 0 2em;
}

/* Style header */
.header {
    text-align: center;
}

/* 1. Graph information */
.header div {
    width: 300px;
    margin: auto;
    text-align: right;
}

.header div h6 {
    font-family: monospace;
}

/* 2. TODO: Drawer handle */
